<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="./../../../assets/logo.png" width="120px" height="120px" class="logo"/>
                </div>
                <h1 class="text-center">Login Here!!</h1>
                <form>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter the Username" name="username" required>
                      </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter the Password" name="password" required>
                      </mat-form-field>
                      <div class="container text-center">
                        <button type="reset" mat-raised-button color="accent" class="mr20 mb20">Clear</button>
                        <button type="submit" mat-raised-button color="primary" class="ml20 mb20">Login</button>
                      </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
